<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" /> -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'polls/main.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script> -->
<script>

</script>
</head>
<body>		
	<div class="container" style="margin:50px; margin-top:200px" align="center">
		<div class="header">
			
		</div>	
		<div class="content" align="center" vertical-align:middle>
			<h1 ><b>Great! Your prospects have been imported.</b></h1><p>
			<h5 style="margin-top:15px">You successfully imported {{length}} prospects with <b style="color:#c19208;">0 duplicates </b>and <b style="color: #da0f4f;">0 errors</b></h5><p>
			<h4 style="margin-top:50px; margin-bottom:20px">What would you like to do now?</h4><p>
			<a href="/contact_list/">Return to Prospects</a>&nbsp | &nbsp<a href="#">Return to Dashboard</a>&nbsp | &nbsp<a href="#">Create a campagin</a>
		</div>	
		<div class="footer" style="margin-top:100px">
			
		</div>
	</div>

<script>
	
</script>
</body>
</html>
